# VENDURE_ADMIN_DOMAIN=https://nix-store-admin.onrender.com
NEXT_PUBLIC_BASE_URL=http://localhost:3001
VENDURE_HOST=localhost:3000
NEXT_PUBLIC_VENDURE_ADMIN_DOMAIN=http://localhost:3000
ITEMS_PER_PAGE=40
